html, body {
    width: 100%;
    height: 100%;
}

.App {
  text-align: center;
}

.githubLink{
  position: absolute;
  top: 8px;
  right: 15px;
  z-index: 5;
}


@keyframes Rock {
  0% {transform:rotate(0deg);}
  25% {transform:rotate(10deg);}
  50% {transform:rotate(0deg);}
  75% {transform:rotate(-10deg);}
  100% {transform:rotate(0deg);}

}

.roombaba {
  transform-origin: 50% 50%;
}

@media (min-width: 480px){
  .roombaba {
    animation: Rock infinite 1s linear;
  }
}

.settings {
  display: flex;
  padding-left: 10;
  padding-right: 10;
  width: 100%;
  height: calc(100% - 8px);
}

.card {
  display: flex;
  width: 100%;
  height: 100%;

}

.card > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cardText {
  height: 100%;
  display: flex;
}


@keyframes Throb {
  25% {transform: scale(1.5);}
}

.react-resizable-handle {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
  animation: Throb infinite 1s linear;
}


@keyframes Disappearing {
  25% {opacity: 0;}
  75% {opacity: 0.8;}
  100% {opacity: 0; display: none;}
}

.wasd {
  display: none;
}  

@media (min-width: 480px){
  .wasd {
    display: block;
    opacity: 0;
    position: absolute;
    animation: Disappearing 1 4s forwards;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
  }
}



